@model CoreLab2023.Models.TestTableModels

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table>
        @foreach(var item in Model.Models)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.testType</td>
                <td>@item.testValue</td>
            </tr>
        }

    </table>

</div>

